page-home {
    img{position: absolute;}
    // .btm{padding: 0 1em;left: 0; position: fixed;bottom: 5em;}
    .btn-btm{position: fixed;bottom: 0;width: 100%;padding: 1em;left: 0;background-color: #fff !important;}
}